<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/product/create.js"></script>
  <script src="/product/delete.js"></script>
  <script src="/product/edit.js"></script>
  <script src="/product/list.js"></script>
  <script src="/product/view.js"></script>
</head>
<body onload="showListProduct()">
<div ><button id="create" onclick="showCreateForm()">Create</button></div>
<table id="main" border="1"></table>
<table id="productList"></table>
</body>
</html>